.icon-g{ background:url(glyphicons-halflings.png) no-repeat;width:18px;height:18px; line-height:18px; display:inline-block;}
.icon-g-search{background-position:-46px 1px}
.icon-g-list{background-position:-262px 1px}
.icon-g-category{background-position:-238px 0px}
.icon-g-add{background-position:0px -96px}
.icon-g-modify{background-position:-0px -72px}
.icon-g-remove{background-position:-22px -96px}

